.typewriter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  padding: 20px;
}

.buy-coffee-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3d3d3d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}



.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.popup button {
  background-color: #3d3d3d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.popup iframe {
  width: 100%; 
  max-width: 800px; 
  height: 600px;
}


@media only screen and (max-width: 800px) {
  .typewriter {
    font-size: 16px; 
  }
  
  .buy-coffee-btn {
    margin-top: 10px; 
  }
  
  .popup-inner {
    padding: 10px; 
  }
  
  .popup iframe {
    max-width: 90%; 
    height: 250px; 
}

}

.team-members {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.team-member {
  text-align: center;
}

.team-member-image {
  width: 300px;
  height: 300px;
  border-radius: 50%; 
  margin-bottom: 10px;
}

.team-member-name {
  font-size: 25px;
  font-weight: bold;
  color: #ffe6e6;
}
