/* General Page Styles */
body {
    background-color: #0B0D0C; /* Dark background fallback for when the image is loading */
    color: blanchedalmond; /* Text color */
    background-image: url("/Users/amriteshsingh/HackDEV/frontend/loginRegister/src/images/2150960926.jpg"); /* Path to your background image */
    background-size: cover; /* Scale the image to be as large as possible */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100vh; /* Make sure the body covers the whole viewport */
    margin: 0; /* Corrected margin to remove default margin */
}

/* Layout and Navbar */
.layout {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex; /* Make sure the navbar is a flex container */
    justify-content: space-between; /* Layout the items */
    /* Other styles */
}

/* Navbar link hover effect moved outside to directly target .nav-link */
.nav-link:hover {
    color: #ccc; /* Lightens the text color on hover */
}

/* Chatbot Container Styles */
.chatbot {
    position: fixed; /* Position fixed to the viewport */
    right: 20px; /* Distance from the right of the viewport */
    bottom: 20px; /* Distance from the bottom of the viewport */
    max-width: 350px; /* Maximum width */
}

/* Chatbot frame styling */
.chatbot .react-chatbot-kit-chat-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow around the chatbot */
    border-radius: 8px; /* Round the corners */
}

/* Adjust chatbot size */
.chatbot .react-chatbot-kit-chat-container .react-chatbot-kit-chat-inner-container {
    width: 100%; /* Adjust width to be 100% of its parent */
    height: 500px; /* Adjust height */
}
