/* login.css */
.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #cccccc39;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: rgba(249, 249, 249, 0.5);
    color: #965c05;
}

.mb-3 {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
    color: #965c05;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    color: #965c05;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #965c05;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #9c2d0b;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}
