.navbar {
  display: flex;
  justify-content: space-between; /* Keeps items spaced out */
  align-items: center;
  background: rgba(0, 0, 0, 0.2); /* Black with transparency */
  color: #671edc;
  padding: 5px 10px; /* Reduced vertical padding to make navbar slimmer */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Bolder shadow for depth */
  transition: background-color 0.3s ease; /* Smooth transition for background on hover */
}

.navbar:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.5); /* Enhanced shadow on hover for a "lifting" effect */
}

.navbar-brand {
  font-size: 2.5rem; /* Increased font size for brand */
  font-weight: 1500;
  color: rgb(241, 196, 13); /* Ensures brand visibility against the gradient */
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: auto; /* Pushes the nav items to the left and auth buttons to the right */
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #e2ae7b; /* Adjusted for better visibility */
  text-decoration: none;
  position: relative;
  font-size: 1.2rem; /* Increased font size for navigation links */
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.auth-buttons {
  display: flex;
  gap: 10px; /* Adjust if more space is needed between buttons */
  /* This ensures the buttons are aligned to the right */
}

.login-button,
.register-button,
.anonymous-button {
  background-color: #b66611; /* Color updated for consistency */
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 20px; /* Right margin added to each button for spacing */
}

.login-button:hover,
.register-button:hover,
.anonymous-button:hover {
  background-color: #218838; /* A slightly darker shade for depth */
  transform: translateY(-2px); /* Lift button slightly on hover */
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }
}